body{
    background-color: #0e48e78d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
form{
    background-color: white;
    margin: 35px auto;
    max-width: 650px;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.form-control{
    text-align: left;
    margin-bottom: 25px;
   box-sizing: border-box;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea{
    border: 4px solid black;
    border-radius: 5px;
    font-family: inherit;
    padding: 15px;
    display: block;
   
    box-sizing: border-box;
}
.form-control input[type="radio"]
.form-control input[type="checkbox"]{
    display: inline-block;
    width:auto;
}
button{
    background-color: #05c46b;
    border: 2px solid #777;
    border-radius: 4px;
     font-family: inherit;
     font-size: 21px;
     display: block;
     width: 100%;
     margin-top: 50px;
     margin-bottom:20px;

}
h1{
    font-size: 30px;
    margin: 4px;
    padding: 4px;
    color: black;
}